html {
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #eb9107;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 20px 20px 20px;
  border: 6px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff006e;
  text-shadow: 4px 4px 2px black;
}

img {
  display: block;
  margin: 0 auto;
}
