html {
  font-size: 20px;
  font-family: 'Quantico', sans-serif;
  background-color: #eb9107;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ab648f;
  text-shadow: 6px 1px 0px black;
}

h2 {
  font-size: 40px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 20px 20px 20px;
  border: 6px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
